node_modules
yarn-error.log
out
*.tgz
.nyc_output
coverage
.DS_Store
eslint.xml

packages/cli/lib
packages/core/lib
packages/cordova/lib
packages/android/lib
packages/android-legacy/lib
packages/test/lib
packages/electron/lib
packages/ios/lib
packages/kano/lib
packages/macos/lib
