node_modules
yarn-error.log
out
*.tgz
.nyc_output
coverage
.DS_Store
eslint.xml

packages/cli/lib
packages/core/lib
packages/cordova/lib
packages/android/lib
packages/android-legacy/lib
packages/test/lib
packages/electron/lib
packages/ios/lib
packages/kano/lib
packages/macos/lib
packages/web/lib
packages/windows/lib
packages/windows-store/lib

packages/uwp/lib
packages/uwp/Kash/.vs
packages/uwp/Kash/Kash/AppPackages
packages/uwp/Kash/Kash/bin
packages/uwp/Kash/Kash/bld
packages/uwp/Kash/Kash/BundleArtifacts
packages/uwp/Kash/Kash/www
packages/uwp/Kash/Kash/Kash.jsproj.user
